<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dart Scorer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19F07D9D1E246A0400C7AB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19F07DB11E246A0400C7AB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19F07DBC1E246A0400C7AB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
